/* ==========================================================================
   ABOUT US SECTION STYLES
   ========================================================================== */

.about {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1rem, 1.2vw, 1.4rem);
}

.about__container {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--hero-overlay-light),
    url("../images/12.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10vh 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.about__content {
  max-width: 60%;
  margin: 0 auto;
  padding: 2rem;
  color: var(--color-grey);
  text-align: left;
  background: var(--image-overlay);
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.about__title {
  font-size: clamp(1.8rem, 3vw, 2.5rem);
  margin-bottom: 2rem;
  color: var(--color-white);
  font-weight: 400;
}

.about__text {
  font-weight: 300;
  width: 80%;
  margin: 1rem 0;
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  color: var(--color-white);
  line-height: 1.6;
}

.about__continue {
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 100%;
  text-align: center;
  background: transparent;
  border: none;
  transition: transform 0.3s ease;
}

.about__continue-link {
  color: rgba(255, 255, 255, 0.7);
  font-size: clamp(2rem, 4vw, 3rem);
  transition: all 0.3s ease;
  display: inline-block;
}

.about__continue-link:hover,
.about__continue-link:focus {
  color: var(--color-light);
  transform: translateY(5px);
  outline: none;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

@media (max-width: 1024px) {
  .about {
    min-height: auto;
    padding: 4rem 0;
  }

  .about__content {
    max-width: 70%;
    padding: 1.5rem;
  }

  .about__text {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .about {
    font-size: 1rem;
  }
  .about__container {
    flex-direction: column;
  }
  .about__content {
    max-width: 90%;
    padding: 1rem;
    text-align: center;
  }

  .about__text {
    width: 90%;
    margin: auto;
    text-align: left;
  }

  .about__continue {
    position: relative;
    bottom: 0;
    margin-top: 2rem;
  }
}
