.gallery-section {
  width: 100%;
  padding: 3rem 0;
  color: var(--color-dark);
  background: var(--color-grey);
}
.gallery-section h2 {
  margin-bottom: 3rem;
  font-size: 2rem;
  text-align: center;
}
/* Gallery Grid */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem 0;
}

.gallery-card {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: var(--shadow);
  aspect-ratio: 4/3;
  transition: var(--transition);
}

.gallery-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.gallery-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: var(--transition);
}

.gallery-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(1, 34, 68, 0.8));
  color: var(--color-light);
  opacity: 0;
  transition: var(--transition);
  padding: 1rem;
  text-align: center;
}

.gallery-card:hover .gallery-caption,
.gallery-overhauling-card:hover .gallery-caption {
  opacity: 1;
}

.gallery-caption p {
  font-size: clamp(1rem, 2vw, 1.5rem);
  line-height: 1.4;
  color: var(--color-white);
}

/* Before-After Section */
.before-after {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  height: 100%;
}

.before-after img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Instagram Link */
.instagram-link {
  padding: 2rem;
  text-align: center;
}

.instagram-link a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: bold;
  transition: var(--transition);
}

.instagram-link a:hover,
.instagram-link a:focus {
  color: var(--color-dark);
  text-decoration: underline;
  outline: none;
}

.gallery-overhauling-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  width: 70%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem 0;
}

.gallery-overhauling {
  width: 100%;
  padding: 3rem 0;
  color: var(--color-dark);
  background: var(--color-grey);
  text-align: center;
}

.gallery-overhauling h2 {
  font-size: 2rem;
}

.gallery-overhauling .content {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.gallery-overhauling-card {
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: var(--transition);
  background: var(--color-white);
}

.gallery-overhauling-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.gallery-overhauling-images {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.gallery-overhauling-images img {
  width: 50%;
  height: auto;
  aspect-ratio: 4/3;
  object-fit: cover;
  object-position: center;
  box-shadow: var(--shadow);
}

.gallery-overhauling-caption {
  padding: 1rem;
  text-align: start;
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: var(--color-white);
  background-color: var(--color-dark);
}

.gallery-overhauling-instagram {
  padding: 2rem;
  font-size: clamp(1.2rem, 2vw, 1.8rem);
  text-align: center;
}

.gallery-overhauling-instagram a {
  color: var(--color-text);
  transition: var(--transition);
}

.gallery-overhauling-instagram a:hover,
.gallery-overhauling-instagram a:focus {
  font-weight: bold;
  outline: none;
}
/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

@media (max-width: 1024px) {
  .gallery-grid {
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .gallery-card:nth-child(9) {
    margin: 0 auto;
    grid-column: 1 / span 2;
    width: 50%;
  }
  .gallery-overhauling .content {
    width: 80%;
  }

  .gallery-overhauling-images {
    gap: 0.5rem;
  }

  .gallery-overhauling-images img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .gallery-heading {
    height: 30vh;
  }

  .gallery-grid {
    width: 85%;
    display: flex;
    flex-direction: column;
  }
  .gallery-card:nth-child(9) {
    margin: 0 auto;
    width: 100%;
  }
  .instagram-link {
    padding: 1.5rem;
  }

  .gallery-overhauling .content {
    width: 90%;
  }

  .gallery-overhauling-images {
    flex-direction: column;
    gap: 0.5rem;
  }

  .gallery-overhauling-images img {
    width: 100%;
  }

  .gallery-overhauling-instagram {
    padding: 1.5rem;
  }
}
